NEXT_PUBLIC_APPWRITE_ENDPOINT=
NEXT_PUBLIC_APPWRITE_PROJECT_ID=

APPWRITE_DATABASE_ID=

NEXT_PUBLIC_APPWRITE_TABLE_CREDENTIALS_ID=
NEXT_PUBLIC_APPWRITE_TABLE_TOTPSECRETS_ID=
NEXT_PUBLIC_APPWRITE_TABLE_FOLDERS_ID=
NEXT_PUBLIC_APPWRITE_TABLE_SECURITYLOGS_ID=
NEXT_PUBLIC_APPWRITE_TABLE_USER_ID=

NEXT_PUBLIC_APP_BASE_URL=

NEXT_PUBLIC_LOGGING_VERBOSE=

AUTH_SUBDOMAIN=accounts
APP_SUBDOMAIN=whisperrnote.space

GOOGLE_API_KEY=
GEMINI_MODEL_NAME=gemini-2.0-flash




